<%- include('../partials/html-head', { title: 'Edit a song' }) %>
<%- include('../partials/nav-bar') %>
<section class="section">
  <h1 class="title">Edit <%= song.title %></h1>
  <form action="/songs/<%=song._id%>?_method=PUT" method="POST">
    <div class="field">
      <label class="label" for="title">Title:</label>
      <input class="control" type="text" name="title" id="title" value="<%= song.title %>" required />
    </div>
    <div class="field">
      <label class="label" for="artist">Artist</label>
      <input class="control" type="text" name="artist" id="artist" value="<%= song.artist %>" required />
    </div>
    <div class="field">
      <label class="label" for="album">Album</label>
      <input class="control" type="text" name="album" id="album" value="<%= song.album %>" required />
    </div>
    <button class="button is-primary" type="submit">Update Song</button>
  </form>
  </form>
</section>
</body>

</html>