<%- include('../partials/html-head', { title: 'All Songs' }) %>
<%- include('../partials/nav-bar') %>
<section class="section is-large">
<h1 class="title">Library</h1>
<ul>
  <% songs.forEach(song =>{ %>
  <li>
    <a class="is-large" href="/songs/<%=song._id %>"
      ><%= song.title %> by <%= song.artist %></a
    >
  </li>
  <% }); %>
</ul>
<a class="button is-primary" href="/songs/new">Add Song</a>
</body>
</section>
</html>
